<%

#rubyの勉強がてらとりあえず全部ベタ書きで書いてみる (ベタ書きから初めて整理していこう )

require 'sqlite3'#データベース接続用オブジェクト

database = SQLite3::Database.new('tutorial')

#テーブルがなければ作成
database.execute('CREATE TABLE IF NOT EXISTS user(id INTEGER PRIMARY KEY AUTOINCREMENT,name TEXT NOT NULL,email VARCHAR(255) NOT NULL)')

%>
<% test = "hello,world" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録画面</title>
</head>
<body>
    <form method="POST" action="/">
        <table></table>
    </form>
</body>
</html>